{% from "_render_field.html" import render_field %}
{% extends 'main.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
<div class="wrapper__create">
    <div class="create__form">
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row mb-3">
                <div class="col-sm-10">
                    {{ render_field(form.title, class='form-control') }}
                </div>
                <div class="col-sm-10">
                    {{ render_field(form.text, class='form-control') }}
                </div>
                <div class="col-sm-10">
                    {{ render_field(form.type, class='form-control') }}
                </div>
                <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                {{ form.picture.label() }}
                                {{ form.picture(class="form-control-file") }}
                                {% if form.picture.errors %}
                                {% for error in form.picture.error %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                <div class="col-sm-10">
                    {{ render_field(form.submit, class="btn btn-primary", value='Add') }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}