{% from "_render_field.html" import render_field %}
{% extends 'main.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style2.css') }}">

<div class="container cta-100 ">
    <div class="container">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {% for subject in subjects %}
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="{{ url_for('sub.detail', id=subject.id) }}" tabindex="0">
                                                    <h5>{{ subject.name_subject }}</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p><i class="fa fa-user-o"></i> {{ subject.teacher }}, <i class="fa fa-comments-o"></i>
                                                    {{ subject.control.value }}</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p>Specialty: {{ subject.specialty }}</p>

                                            </div>
                                            <div class="mt"><a href="{{ url_for('sub.detail', id=subject.id) }}" tabindex="0" class="btn bg-blue-ui white read">read
                                                more</a></div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                        </div>
                    </div>
                    <!--.row-->
                </div>

            </div>
            <!--.carousel-inner-->
        </div>
        <!--.Carousel-->
    </div>
</div>
</div>
</div>

{% endblock %}